/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  font-family: 'Darker Grotesque', sans-serif;
}

.wrapper {
  display: flex;
  max-width: 1800px;
  flex-direction: column;
  min-height: 56vh;
}

.wrapper main {
  flex: 1;
}

/*#    # ######   ##   #####  ###### #####  min-height: 64vh;
  #    # #       #  #  #    # #      #    # 
  ###### #####  #    # #    # #####  #    # 
  #    # #      ###### #    # #      #####  
  #    # #      #    # #    # #      #   #  
  #    # ###### #    # #####  ###### #    # ----------*/

header {
  height: 120px;
  background-color: #85CDF5;
  display: flex;
  justify-content: space-between;
  padding-left: 219px;
  padding-right: 220px;
  padding-top: 8px;
  padding-bottom: 6px;
  position: sticky;
  top: 0;
  transition: height .4s .1s ease-out;
}

.menor {
  height: 107px;
  padding-top: 0px;
}

.link {
  text-decoration: none;
  color: black;
  padding-top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

.link:hover {
  /*text-underline-position: under;*/
  text-decoration: underline black;
}

/*#####   ####  #####  #   # 
#    # #    # #    #  # #  
#####  #    # #    #   #   
#    # #    # #    #   #   
#    # #    # #    #   #   
#####   ####  #####    #   ----------*/

.subtitle {
  Font-size: 48px;
  line-height: 65px;
  color: #DEB959;
  text-align: center;
}

.text {
  font-family: Darker Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
}

.description {
  background: url("assets//lobo1.png");
  max-height: 500px;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  padding: 200px 0px 200px 0px;
  color: #FFFFFF;
}
.description::before {
    position:absolute;
    content: "";
    height:100%;
}
.description h1 {
  font-family: Darker Grotesque;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 130px;
  text-align: center;
}

.description h3 {
  font-size: 30px;
  line-height: 25px;
}

hr {
  display: inline-block;
  border: 3px #fff solid;
  background-color: #fff;
  width: 100px;
  border-radius: 10px;
  margin: 20px 0;
  transition: width 0.5s;
  align-self: center;
}

hr:hover {
  width: 35%;
}

.about {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #2C5680;
  height: 333px;
}

.valor {
  padding-top: 60px;
  background-color: #333333;
  height: 625px;
}

.valor img {
  width: 150px;
  height: 150px;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
  background-color: white;
}

.valor2 {
  padding: 80px 220px 0px 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.valor2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valor2 div h3 {
  padding-top: 27px;
  color: white;
}

.valor div p {
  padding: top 26px;
  width: 140px;
  height: 195px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 20px;
  /* or 77% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.example {}

#Wolfpresentation1, #Wolfpresentation3 {
  display: flex;
  padding-top: 75px;
  margin-left: 80px;
}

#Wolfpresentation1 img, #Wolfpresentation3 img {
  width: 600px;
  height: 300px;
  border: 0px solid;
  box-shadow: -30px -30px#2C5680, -29px -31px black, -31px -31px black, -31px -29px black;
}

#Wolfpresentation1 div, #Wolfpresentation3 div {
  padding-left: 410px;
  width: 700px;
  display: column;
  text-align: left;
  padding: 100px;
}

#Wolfpresentation2, #Wolfpresentation4 {
  display: flex;
  padding-top: 75px;
  margin-left: 80px;
}

#Wolfpresentation2 img, #Wolfpresentation4 img {
  margin-right: 120px;
  width: 600px;
  height: 300px;
  border: 0px solid;
  box-shadow: 30px -30px#2C5680, 29px -31px black, 31px -31px black, 31px -29px black;
}

#Wolfpresentation2 div, #Wolfpresentation4 div {
  padding-left: 410px;
  width: 700px;
  display: column;
  text-align: right;
  padding: 100px;
}

/* :::::::: :::    :::::::::::::::::    ::::  ::::::::  
  :+:    :+::+:    :+::+:       +:+:+: :+:+:+:+:    :+: 
  +:+    +:++:+    +:++:+       +:+ +:+:+ +:++:+        
  +#+    +:++#+    +:++#++:++#  +#+  +:+  +#++#++:++#++ 
  +#+  # +#++#+    +#++#+       +#+       +#+       +#+ 
  #+#   +#+ #+#    #+##+#       #+#       #+##+#    #+# 
  ###### ########### #############       ### ########  --------------*/

.QuemSomos {
  display: column;
  align-items: center;
}

.QuemSomos h3 {
  height: 134px;
  width: 960px;
  padding: 0px 0px 57px 300px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.155em;
  color: #000000;
}

.QuemSomos h1 {
  padding: 50px 0px 50px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
}

/*
::::    ::::::       :::::::: :::::::::  ::::::::  
:+:+:   :+::+:      :+:    :+::+:    :+::+:    :+: 
:+:+:+  +:++:+      +:+    +:++:+    +:++:+    +:+ 
+#+ +:+ +#++#+      +#+    +:++#++:++#+ +#+    +:+ 
+#+  +#+#+#+#+      +#+    +#++#+    +#++#+    +#+ 
#+#   #+#+##+#      #+#    #+##+#    #+##+#    #+# 
###    ###################### #########  ########  ---------*/

.textoNL {
  width: 478px;
  height: 500px;
  font-style: thin;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}

/* :::::::::::::::::: ::::::::: ::::    :::: :::    ::::::           :::     
:+:      :+:    :+::+:    :+:+:+:+: :+:+:+:+:    :+::+:         :+: :+:   
+:+      +:+    +:++:+    +:++:+ +:+:+ +:++:+    +:++:+        +:+   +:+  
:#::+::# +#+    +:++#++:++#: +#+  +:+  +#++#+    +:++#+       +#++:++#++: 
+#+      +#+    +#++#+    +#++#+       +#++#+    +#++#+       +#+     +#+ 
#+#      #+#    #+##+#    #+##+#       #+##+#    #+##+#       #+#     #+# 
###       ######## ###    ######       ### ######## #############     ### =================================================================*/

.Formulario {
  padding: 100px 220px 115px 400px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.item11 {
  display: flex;
  column-gap: 10px;
}

.formularioLobo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #333333;
}

.Formulario label {
  grid-column: 1 / 4;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 81px;
  text-align: center;
}

.Formulario input, .Formulario textarea {
  background: #E6E6E6;
  border: 1px solid #333333;
  box-sizing: border-box;
  padding: 7px;
  border-radius: 4px;
}

.Formulario .name {
  width: 550px;
  border-radius: 4px;
}

.Formulario .anos {
  width: 170px;
  padding: 7px;
  border-radius: 4px;
}
#link_image{
  width:900px;
}
#description{
  width:900px;
  height:200px;
}
/*   :::    :::::::::  ::::::::::::::::::::::::::::: 
    :+: :+:  :+:    :+::+:    :+:   :+:    :+:        
  +:+   +:+ +:+    +:++:+    +:+   +:+    +:+        
  +#++:++#++:+#+    +:++#+    +:+   +#+    +#++:++#   
  +#+     +#++#+    +#++#+    +#+   +#+    +#+        
  #+#     #+##+#    #+##+#    #+#   #+#    #+#        
  ###     ############  ########    ###    ########## ----------*/

.adote img {
  width: 240px;
  height: 216px;
  border-radius: 100%;
}

.adote h5 {
  Font-style: SemiBold;
  Font-size: 14px;
  height: 19px;
  height: 100%;
  text-align: Left;
}

.adote h3 {
  font-style: Medium;
  font-size: 30px;
  line-height: 41px;
  line-height: 100%;
}

.adote h2 {
  Font-style: SemiBold;
  Font-size: 60px;
  line-height: 81px;
}

.adote .descricao {
  padding: 40px 0px 0px 100px;
}

.adote .item11 {
  padding: 40px 0px 0px 250px;
  display: flex;
  column-gap: 10px;
}

.adote .mail {
  margin-top: 40px;
  margin-left: 250px;
}

.adote input[type=text] {
  border: none;
  border-bottom: 2px solid #333333;
  width: 1072px;
  margin-top: 10px;
  font-size: 20px;
}

.adote input[type=number] {
  border: none;
  border-bottom: 2px solid #333333;
  width: 100px;
  margin-top: 10px;
  font-size: 20px;
}

.adote input[type=email] {
  border: none;
  border-bottom: 2px solid #333333;
  width: 1180px;
  margin-bottom: 50px;
  margin-top: 10px;
  font-size: 20px;
}

.busca {
  margin-right: 50px;
  width: 1250px;
  margin-left:40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 0px 12px 40px;
 
}
.buscaAdd{
  display: flex;
  margin:30px 0px 0px 0px;
  }

/*::::::::: :::    ::::::::::::::::::::::::::::::::: ::::    ::: ::::::::  
  :+:    :+::+:    :+:    :+:        :+:   :+:    :+::+:+:   :+::+:    :+: 
  +:+    +:++:+    +:+    +:+        +:+   +:+    +:+:+:+:+  +:++:+        
  +#++:++#+ +#+    +:+    +#+        +#+   +#+    +:++#+ +:+ +#++#++:++#++ 
  +#+    +#++#+    +#+    +#+        +#+   +#+    +#++#+  +#+#+#       +#+ 
  #+#    #+##+#    #+#    #+#        #+#   #+#    #+##+#   #+#+##+#    #+# 
  #########  ########     ###        ###    ######## ###    #### ########  -------------*/
button{
  cursor:pointer;
}
.adotaG {
  width: 180px;
  height: 56px;
  left: 219px;
  top: 684px;
  background: #7AAC3A;
}

.adotaB {
  width: 209px;
  height: 60px;
  left: 592px;
  top: 668px;
  background: #2C5680;
  border: 1px solid #333333;
  box-sizing: border-box;
  font-style: SemiBold;
  font-size: 36px;
  color: white;
  margin: 50px 0px 50px 700px;
}

.adotaA {
  width: 157px;
  height: 45.92px;
  left: 1022px;
  top: 310px;
  background: #DEB959;
}

.excluir {
  width: 180px;
  height: 56px;
  left: 469px;
  top: 683px;
  background: #DE5959;
}

.maisLobo {
  width: 130px;
  height: 47px;
  left: 1049px;
  top: 180px;
  background: #DEB959;
  font-size: 24px;
  color:white;
}

.salva {
  width: 180px;
  height: 50px;
  margin: 40px 0px 30px 270px;
  background: #2C5680;
  border: 1px solid #333333;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.somos {
  margin-top: 20px;
  background-color: yellow;
  padding: 2px 10px 7px 9px;
  background: rgba(222, 185, 89, 1);
}

/*######  ####   ####  ##### ###### #####  
  #      #    # #    #   #   #      #    # 
  #####  #    # #    #   #   #####  #    # 
  #      #    # #    #   #   #      #####  
  #      #    # #    #   #   #      #   #  
  #       ####   ####    #   ###### #    # --------------------------------- */

footer {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 180px 0px 190px;
  height: 36vh;
  background: rgba(51, 51, 51, 1);
}

.rodape {
  margin-top: 50px;
  background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
  height: 5px;
  width: 100%;
}

footer div {
  padding-top: 50px;
}

footer div p {
  padding: 4px;
}

.map {
  width: 250px;
  height: 8px;
  padding-bottom:0px;
}

.lista {
  display: inline;
}
